.footer {
  min-height: 630px;
  position: relative;
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background: $main-color;
    text-align: center;
    color: #fff;
    padding: 50px 50px 50px 50px;
  }
  &__phone {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 36px;
    display: block;
    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
  &__social-item {
    margin-right: 41px;
    &:last-child {
      margin-right: 0;
    }
  }
}
